<div class="container">
  <div class="row">
    <h1 class="title">CONTACT</h1>
  </div>
  <div class="row contact-form">
    <%= form_with model: @contact, url: public_contacts_path, method: :post do |f| %>
    <%= render "public/shared/error_messages", object: f.object%>
      <div class="form-wrap">
        <div class="form-header">
          <h6 class="bottom-text">サイトに関するご質問などは下記よりお問い合わせください</h6>
          <h9 class="bottom-text d-flex justify-content-center">ご登録のアドレスにてご対応をさせていただきます</h9>
        </div>
        <div class="contact-name d-flex justify-content-center p-3">
          <%= f.text_field :name, placeholder: "お名前", class: "input-name" %>
        </div>
        <div class="contact-text d-flex justify-content-center pt-1">
          <%= f.text_area :content, placeholder: "お問い合わせ内容を入力してください", class: "input-form"  %>
        </div>
        <div class="form-submit d-flex justify-content-center pt-3">
          <%= f.submit "send", class: "btn btn btn-secondary send" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>

  main{
    background-image: none;
    background-color: #f2ffe5;
  }

  .row{
    justify-content: center;
  }

  .contact-form{
    background-color: #EEEEEE;
    padding: 40px;
    border:  3px solid;
    border-radius: 8px;
    border-color: #999966;
    box-shadow: 16px 16px 42px #666666;
 }

 h1.title{
  font-family: "Georgia";
  padding: 20px;
  font-weight: 800;
  color: #5f6527;
 }

 .input-form{
  border-radius: 0.67em;
  width: 500px;
  height: 300px;
 }

.input-name{
  height: 50px;
}

.btn-secondary.send{
  background: #777e41;
  padding: 10px 40px;
}
</style>
