<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

<div class="sentence" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.sentence %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.sentence %></p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <%#= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, url: public_chats_path, data: { remote: true } do |f| %>
  <%= f.text_field :sentence %>
  <%= f.hidden_field :room_id %>
  <%= f.submit "送信" %>
<% end %>
