<div class="container">
  <div class="row d-flex justify-content-center">
    <%= @user.name %>さんの投稿一覧
  </div>
  <div class="row  item-cards">
    <% @items.each do |item| %>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="image-wrap">
              <%= image_tag item.get_item_image(200, 200) %>
            </div>
          </div>
          <div class="card-body">
            <%= item.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
          <div class="card-body">
            <%= item.user.name %>
          </div>
          <div class="card-body">
            <%= link_to "詳細", admin_item_path(item) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
