<div class="row">
  <h5>Comment</h5>  <%= item.comments.count %>件
</div>
<div class="row p-2">
  <% if item.comments.count >= 3 %>
    <div class="col-5">
      <button type="comment morebutton" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-chevron-circle-down"></i>もっと見る....
      </button>
    </div>
  <% end %>
</div>
<div class="row">
  <% comments.first(2).each do |comment| %>
    <% unless comment.id.nil? %>
      <div class="col-6 p-1">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <%= image_tag comment.user.get_profile_image(50, 50), class: "rounded-circle" %>
              <%= link_to comment.user.name, public_user_path(comment.user.id) %>
            </div>
            <div class="card-text">
              <%= comment.text %>
              <% if comment.user == current_user %>
                <%= link_to public_item_comment_path(comment.item_id, comment.id), method: :delete, remote: true do %>
                 <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="collapse" id="collapseExample">
  <div class="row">
    <% comments.offset(2).each do |comment| %>
      <% unless comment.id.nil? %>
        <div class="col-6 p-1">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <%= image_tag comment.user.get_profile_image(50, 50), class: "rounded-circle" %>
                <%= link_to comment.user.name, public_user_path(comment.user.id) %>
              </div>
              <div class="card-text">
                <%= comment.text %>
                <% if comment.user == current_user %>
                  <%= link_to public_item_comment_path(comment.item_id, comment.id), method: :delete, remote: true do %>
                   <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .row{
    justify-content: center;
  }
</style>
