<div class="row d-flex justify-content-center">
    <h5>Comment</h5><%= item.comments.count %>件
</div>
<div class="row d-flex justify-content-center">
<%#= render 'layouts/flash_messages' %>
<% comments.first(2).each do |comment| %>
    <% unless comment.id.nil? %>
      <%= image_tag comment.user.get_profile_image(80, 80), class: "rounded-circle" %>
      <%= comment.user.name %>
      <%= comment.text %>
      <% if comment.user == current_user %>
        <%= link_to "削除", public_item_comment_path(comment.item_id, comment.id), method: :delete, remote: true %>
      <% end %>
   <% end %>
<% end %>
</div>
<% if item.comments.count >= 3 %>
<div class="row d-flex justify-content-center">
<button type="comment morebutton" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      | もっと見る....
</button>
</div>
<div class="row d-flex justify-content-center">
<!--3件以上-->
<div class="collapse" id="collapseExample">
  <% comments.offset(2).each do |comment| %>
    <% unless comment.id.nil? %>
      <%= comment.text %>
      <% if comment.user == current_user %>
        <%= link_to "削除", public_item_comment_path(comment.item_id, comment.id), method: :delete, remote: true %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
</div>