<div class="container">
  <div class="row">
    <div class="title pt-3">
      <h2><%= ("#{@another_entry.user.name}さんとのメッセージ") %></h2>
    </div>
  </div>
  <div id="message">
    <% @messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="my-message">
          <p><%= message.sentence %></p>
          <% if message.message_image.attached? %>
            <p><%= image_tag message.get_message_image(100, 100) %></p>
          <% end %>
        </div>
      <% else %>
        <div class="another">
          <div class="user-icon">
            <%= image_tag message.user.get_profile_image(80, 80), class: "rounded-circle" %>
          </div>
          <div class="another-messages">
            <div class="another-message">
              <p><%= message.sentence %></p>
                 <% if message.message_image.attached? %>
                    <p><%= image_tag message.get_message_image(100, 100) %></p>
                 <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="form">
      <%= form_with model: @message, url: public_messages_path, method: :post do |f| %>
      <%= render "public/shared/error_messages", object: f.object %>
       <%= f.text_field :sentence, placeholder: "メッセージを入力（100文字以内）", size: "100" %>
       <%= f.file_field :message_image, placeholder: "画像", accept: 'image/*' %>
       <%= f.hidden_field :room_id, value: @room.id %>
      <div class="col-12  d-flex justify-content-center">
        <%= f.submit "send", class: "btn btn btn-secondary send" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<style>

main{
  background-image: none;
  background-color: #d4dcd3;
  }

#message{
  padding: 20px 10px;
  max-width: 800px;
  margin: 15px auto;
  font-size: 14px;
  background: #7da4cd;
}

.another{
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.another.user-icon{
  float: left;
  margin-right: -50px;
  width: 40px;
}

.another.user-icon img{
  width: 90%;
  height: auto;
}

.another.another-message{
  width: 100%;
  text-align: left;
}

.another-message{
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.another-message:after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.another-message p{
  margin: 0;
  padding: 0;
}

/*.message-form{*/
/*  text-align:center;*/
/*  margin-bottom:200px;*/
/*  display: flex;*/
/*}*/

.my-message {
  margin: 10px 0;
  text-align: right;
}

.my-message p{
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.my-message p:after{
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.form{
  padding: 10px;
}

.btn-secondary.send{
  background: #7a99cf;
}

</style>
