<div class= "container">
  <div class="row">
    <div class="title">
      <h2><%= ("#{@another_entry.user.name}さんとのメッセージ") %></h2>
    </div>
  </div>
  <div class="row">
    <% @messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="my-message">
          <p><%= message.sentence %></p>
          <% if message.message_image.attached? %>
            <p><%= image_tag message.get_message_image(100, 100) %></p>
          <% end %>
        </div>
      <% else %>
        <div class="another-message">
          <p><%= messaage.sentence %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="message-form">
      <%= form_with model: @message, url: public_messages_path, method: :post do |f| %>
       <%= f.text_field :sentence %>
       <%= f.file_field :message_image, placeholder: "投稿画像", accept: 'image/*' %>
       <%= f.hidden_field :room_id, value: @room.id %>
       <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>