<div class="question-box">
  <%= render 'homes/guide_sidebar' %>
  <div class="guide-main">
    <h1 class="guide-title">Guide</h1>
    <div class="step1">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UhJHrLfE4Hk"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="title-box">
      <a name= "step1">step.1 ユーザー登録をしましょう</a>
    </div>
    <div class="text">
      アカウントは「ユーザー」と「店舗スタッフ」に分かれます。<br>
      （一般ユーザーの場合は必ず「ユーザー」を選びましょう）
    </div>
    <div class="question">
      <div class="user-new1">
        <%= image_tag 'user-new1.jpg', class: 'image' %>
      </div>
    </div>
    <div class="title-box">
      <a name= "step1">step.２ 投稿をしてみましょう</a>
    </div>
  <div class="text">
    写真は物撮りでももちろんOKです<br>
    文章は自分のためのメモ替わりにもできます。<br>
    すぐに公開しない投稿は「非公開」設定にしておきましょう
  </div>
  <div class="question">
    <div class="item-new1">
      <%= image_tag 'item-new1.jpg', class: 'image' %>
    </div>
  </div>
    <div class="title-box">
      <a name= "step3">step.3 いいね・フォローをしてみましょう</a>
    </div>
  <div class="text">
    <p>気になる投稿は「いいねボタン」を押してみましょう</p>
    <p>いいねが押されると相手に通知が届きます</p>
  </div>
  <div class="question">
    <div class="favorite">
      <%= image_tag 'favorite.jpg', class: 'image' %>
    </div>
  </div>
  <div class="text">
    <p>話してみたいユーザーがいたら「フォローボタン」を押してみましょう</p>
    <p>相互フォローになるとトークルームが使えるようになります</p>
  </div>
  <div class="question">
    <div class="follow">
      <%= image_tag 'follow.jpg', class: 'image' %>
    </div>
  </div>
    <div class="title-box">
      <a name= "step4">step.4 トーク機能</a>
    </div>
  <div class="text">
    <p>準備中</p>
  </div>
  <div class="question">
    <div class="talk">
      <%#= image_tag 'no_image.jpg', class: 'image' %>
    </div>
    <div class="comment2">
      <%#= image_tag 'no_image.jpg', class: 'image' %>
    </div>
  </div>
    <div class="title-box">
      <a name= "step5">step.5 コメントについて</a>
    </div>
    <div class="text">
      <p>準備中</p>
    </div>
  <div class="question">
    <div class="talk1">
      <%#= image_tag 'no_image.jpg', class: 'image' %>
    </div>
    <div class="talk2">
      <%#= image_tag 'no_image.jpg', class: 'image' %>
    </div>
  </div>
    <div class="title-box">
      <a name= "step6">お困りのとき</a>
    </div>
    <div class="text">
      <p>準備中</p>
    </div>
  <div class="question">
    <div class="info1">
      <%#= image_tag 'no_image.jpg', class: 'image' %>
    </div>
    <div class="info2">
      <%#= image_tag 'no_image.jpg', class: 'image' %>
    </div>
  </div>
    <div class="last-message">
      <p>さまざまな楽しみかたでファッションを好きになってもらえると嬉しいです</p>
    </div>
</div>
</div>

<style>
main{
  background-image: none;
  background-color: #eeeaec;
  min-height: 4000px;
}


.guide-main{
  padding: 20px;
}

h1.guide-title{
  font-family: 'Georgia',sans-serif;
  color: #736d71;
  border-bottom: double 6px #bcbace;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.step1{
  display: flex;
  justify-content: center;
  padding: 50px 30px;
}

iframe {
  width : 600px;
  height : 300px;
}

.youtube {
  cursor : pointer;
}

.title-box{
  color:  #736d71;
  font-size: 20px;
  margin: 5em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px #bcbace;
  border-bottom: solid 2px #bcbace;
  font-weight: 600;
}

.text{
  color:  #736d71;
  text-align: center;
  border: 1px solid #bcbace;
  border-radius: 8px;
  padding: 40px;
  margin: 40px;
}

.question{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-box{
  display: flex;
}

.image{
  width: 800px;
  height: 500px;
  box-shadow: 10px 10px 30px #666666;
}

</style>

<script>
  function youtube_defer() {
    var iframes = document.querySelectorAll('.youtube');
    iframes.forEach(function(iframe){
      if(iframe.getAttribute('data-src')) {
        iframe.setAttribute('src',iframe.getAttribute('data-src'));
      }
    });
  }
  window.addEventListener('load', youtube_defer);
</script>