<div class="question-box">
  <div class="sidebar">
    <p>サイドバー</p>
    <p>サイドバー</p>
    <p>サイドバー</p>
  <p>サイドバー</p>
  <p>サイドバー</p>
  <p>サイドバー</p>
  <p>サイドバー</p>
  </div>
  <div class="container">
    <div class="row pt-5">
      <h1 class"title">Guide</h1>
    </div>
    <div class="row d-flex">
      <div class="step1">
        <div class="col-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UhJHrLfE4Hk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  <div class="row d-flex p-2">
    <div class="title-box">
      <p>step.1 ユーザー登録をしましょう</p>
    </div>
  </div>
  <div class="text">
    <p>アカウントは「ユーザー」と「店舗スタッフ」に分かれます。</p>
    <p>（一般ユーザーの場合は必ず「ユーザー」を選びましょう）</p>
  </div>
  <div class="question">
    <div class="user-new1">
      <%= image_tag 'user-new1.jpg', class: 'image' %>
    </div>
  </div>
  <div class="row d-flex p-2">
    <div class="title-box">
      <p>step.２ 投稿をしてみましょう</p>
    </div>
  </div>
  <div class="text">
    <p>写真は物撮りでももちろんOKです</p>
    <p>文章は自分のためのメモ替わりにもできます。</p>
    <p>すぐに公開しない投稿は「非公開」設定にしておきましょう</p>
  </div>
  <div class="question">
    <div class="item-new1">
      <%= image_tag 'item-new1.jpg', class: 'image' %>
    </div>
  </div>
  <div class="row p-2">
    <div class="title-box">
      <p>step.3 いいね・フォローをしてみましょう</p>
    </div>
  </div>
  <div class="text">
    <p>気になる投稿は「いいねボタン」を押してみましょう</p>
    <p>いいねが押されると相手に通知が届きます</p>
  </div>
  <div class="question">
    <div class="favorite">
      <%= image_tag 'favorite.jpg', class: 'image' %>
    </div>
  </div>
  <div class="text">
    <p>話してみたいユーザーがいたら「フォローボタン」を押してみましょう</p>
    <p>相互フォローになるとトークルームが使えるようになります</p>
  </div>
  <div class="question">
    <div class="follow">
      <%= image_tag 'follow.jpg', class: 'image' %>
    </div>
  </div>
  <div class="row p-2">
    <div class="title-box">
      <p>step.4 トーク機能</p>
    </div>
  </div>
  <div class="text">
    <p></p>
  </div>
  <div class="question">
    <div class="talk">
      <%= image_tag 'no_image.jpg', class: 'image' %>
    </div>
    <div class="comment2">
      <%= image_tag 'no_image.jpg', class: 'image' %>
    </div>
  </div>
  <div class="row p-2">
    <div class="title-box">
      <p>step.5 トークをしてみましょう</p>
    </div>
  </div>
  <div class="question">
    <div class="talk1">
      <%= image_tag 'no_image.jpg', class: 'image' %>
    </div>
    <div class="talk2">
      <%= image_tag 'no_image.jpg', class: 'image' %>
    </div>
  </div>
  <div class="row p-2">
    <div class="title-box">
      <p>step.6 お困りのとき</p>
    </div>
  </div>
  <div class="question">
    <div class="info1">
      <%= image_tag 'no_image.jpg', class: 'image' %>
    </div>
    <div class="info2">
      <%= image_tag 'no_image.jpg', class: 'image' %>
    </div>
  </div>
  <div class="row d-flex p-2">
    <div class="last-message">
      <p>さまざまな楽しみかたでファッションを好きになってもらえると嬉しいです</p>
    </div>
  </div>
</div>
</div>

<style>
main{
  background-image: none;
  background-color: #eeeaec;
  min-height: 4000px;
}

.question-box{
  display: flex;
}

.row{
  justify-content: center;
}

h1{
  font-family: 'Georgia',sans-serif;
  border-bottom: double 6px #b79fcb;
  font-weight: 800;
}

.title-box{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  font-weight: 600;
}

iframe {
  width : 600px;
  height : 300px;
}

.youtube {
  cursor : pointer;
}

.sidebar{
  width: 96px;
  height: 100%;
  background-color: moccasin;
  box-sizing: border-box;
}

.image{
  width: 800px;
  height: 500px;
  box-shadow: 10px 10px 30px #666666;
}

.question{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text{
  text-align: center;
}

</style>

<script>
  function youtube_defer() {
    var iframes = document.querySelectorAll('.youtube');
    iframes.forEach(function(iframe){
      if(iframe.getAttribute('data-src')) {
        iframe.setAttribute('src',iframe.getAttribute('data-src'));
      }
    });
  }
  window.addEventListener('load', youtube_defer);
</script>