<div class="select account">
   <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row p-5 mx-auto">
         <%= image_tag 'DB6E1894-D210-4D87-BEC9-90A9ECFF895C.jpg', class: 'logo' %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row p-5">
         <h6>アカウントをお持ちのお客様</h6>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-secondary " %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row p-2">
          <h6>新規登録はこちらから</h6>
          <%= link_to "新規登録",  new_user_registration_path %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row p-2">
          <h6>管理者ページ</h6>
          <%= link_to "こちら",  new_admin_session_path %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row p-2">
          <h6><%= link_to 'ゲストログイン（閲覧用）', public_guests_path, method: :post %></h6>
        </div>
      </div>
   </div>
</div>