<div class="homes-main">
  <div class="container">
    <div class="row p-5">
      <div id="carousel-1" class="carousel slide" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag ('top_1.PNG'), alt: 'First slide', class: 'd-block w-100' %>
            <ul>
              <li class="first_letter">ファッションをもっと楽しく。</li>
            </ul>
          </div>
          <div class="carousel-item">
            <%= image_tag ('top_2.PNG'), alt: 'Second slide', class: 'd-block w-100' %>
            <ul>
              <li class="second_letter1">お気に入りのお洋服を記録に残したり</li>
              <li class="second_letter2">好みのコーディネートを見つけましょう</li>
            </ul>
          </div>
          <div class="carousel-item">
            <%= image_tag ('top_3.PNG'), alt: 'Third slide', class: 'd-block w-100' %>
            <ul>
              <li class="third_letter1">店舗スタッフとコミュニケーションを通して</li>
              <li class="third_letter2">新たな発見も。</li>
              <li class="third_letter3">思うままにファッションを楽しみましょう</li>
            </ul>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-3">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-3">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
      </div>
    </div>
    <div class="row pt-3">
      <%= link_to 'Guest', public_guests_path, method: :post, class: "btn btn-secondary guest" %>
    </div>
    <div class="row pt-4">
      <%= render 'homes/top_new_item', new_items: @new_items %>
    </div>
  </div>
</div>

<style>
main{
  background-image: none;
}

.row{
  justify-content: center;
}

.btn.btn-secondary{
  padding: 10px 70px;
  background: #CCCC99;
}

.btn-secondary.guest{
  padding: 10px 100px;
  background: #67b5b7;
}

.carousel{
  width:100%;
  margin:auto;
  position: relative;
}

.carousel-item li{
  position: absolute;
  font-weight: bold;
}

.carousel-item .first_letter{
  top: 20%;
  left: 60%;
}

.carousel-item .second_letter1{
  top: 20%;
  left: 60%;
}
.carousel-item .second_letter2{
  top: 40%;
  left: 60%;
}

.carousel-item .third_letter1{
  top: 20%;
  right: 60%;
}
.carousel-item .third_letter2{
  top: 40%;
  right: 70%;
}
.carousel-item .third_letter3{
  top: 60%;
  right: 60%;
}

.carousel img{
  width:100%;
}
</style>
