<h2>新規会員登録</h2>



<%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
 <%= render "public/shared/error_messages", resource: resource %>

 <%= f.label :is_user, "ユーザー", :value => "true" %>
 <%= f.radio_button :is_user, true, :class => "js" %>
 <%= f.label :is_user, "店舗スタッフ", :value => "false" %>
 <%= f.radio_button :is_user, false, :checked => true, :class => "js" %>
 <div>
  <%= render "public/registrations/new", f: f %>
 </div>
<% end %>
<%= render "public/shared/links" %>





<script>

$('.js').click(function() {
 const flg = $('input:radio[name="user[is_user]"]:checked').val();

 if (flg === 'true') {
  $('#only_clerk').hide();
  $('#only_customer').show();
 } else {
  $('#only_clerk').show();
  $('#only_customer').hide();
 }
})


</script>

