<div class="public-registration">
  <div class="container">
    <div class="row">
      <div class="form">
        <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
          <%= render "public/shared/error_messages", object: f.object %>
          <div class="switch-form col-12 p-2">
            <%= f.label :is_user, "ユーザー", value: "true" %>
            <%= f.radio_button :is_user, true, checked: true, class: "radio-button" %>
            <%= f.label :is_user, "店舗スタッフ", value: "false" %>
            <%= f.radio_button :is_user, false, class: "radio-button" %>
          </div>
          <div class="registration-form col-12">
            <%= render "public/registrations/new", f: f, user: @user %>
          </div>
        <% end %>
        <div class="link col-12 mt-3">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ラジオボタンでユーザー別フォーム表示切り替え-->
<script>
  function switchForm(){
   const isUser = $('input:radio[name="user[is_user]"]:checked').val() === 'true';
    if (isUser) {
     $('#only-clerk').hide();
     $('#only-customer').show();
    } else {
     $('#only-clerk').show();
     $('#only-customer').hide();
    }
  }
  $(function() {
   switchForm()
  })
  $('.radio-button').click(function() {
   switchForm()
  })
</script>
<!--ブランドと店舗のセレクトボックス連携-->
<!--user_brand_id…brandセレクトボックスのid-->
<!--ブランドが変更された際get_storeメソッド呼び出しbrandに紐づくstore取得（public/registration_jsonsコントローラー）-->
<script>
$('#user_brand_id').change(function() {
 $.ajax('/users/get_store',
   {
    type: 'get',
    data: { brand_id: $('#user_brand_id').val() },
    dataType: 'json'
   }
  )
  .done(function(data) {
   $('#user_store_id > option').remove();
   data.forEach(function(store) {
    var option = $('<option>').val(store.id).text(store.store_name);
    $('#user_store_id').append(option);
   });
  })
})
</script>

<style>
main{
  background-image: none;
}
.row{
  justify-content: center;
}
.field{
  padding: 10px;
}
label{
  font-weight: 800;
}
input{
  display: inline-block;
  padding: 0.5em 0.5em;
  line-height: 2;
}
</style>
