<div class="public-sign-in">
  <div class="container">
    <div class="d-flex justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="p-5 mx-auto">
        <div class="row">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
            <% end %>
        </div>
        <div class="row">
          <div class="actions">
             <%= f.submit "ログイン", class: "btn-login" %>
          </div>
             <% end %>
        </div>
        <div class="row">
           <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-login {
   display       : inline-block;
   font-size     : 10pt;        /* 文字サイズ */
   text-align    : center;      /* 文字位置   */
   cursor        : pointer;     /* カーソル   */
   padding       : 4px 100px;   /* 余白       */
   background    : #000000;     /* 背景色     */
   color         : #ffffff;     /* 文字色     */
   line-height   : 1em;         /* 1行の高さ  */
   transition    : .3s;         /* なめらか変化 */
   box-shadow    : 16px 16px 42px #666666;  /* 影の設定 */
   border        : 2px solid #000000;    /* 枠の指定 */
  }
 .btn-login:hover {
   box-shadow    : none;        /* カーソル時の影消去 */
   color         : #000000;     /* 背景色     */
   background    : #ffffff;     /* 文字色     */
  }
</style>