<div class="user-page">
  <div class="container 1">
    <h1 class="mypage-title">User page</h1>
  </div>
  <div class="container 2">
    <div class="my-item">
       <div class="profile-image">
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.get_profile_image(200, 200), class: "profile" %>
          <% else %>
            <%= image_tag 'no_image.jpg' %>
          <% end %>
        </div>
      <% if @user.is_user == true %>
        <div class="item">
          <%= @user.name %>（<%= @user.name_kana %>）
        </div>
        <div class="item">
          <%= @user.nick_name %>
        </div>
      <% elsif @user.is_user == false %>
        <div class="item">
          <%= @user.name %>（<%= @user.name_kana %>）
        </div>
        <div class="item">
          <%= @user.brand.brand_name %>
        </div>
        <div class="item">
          <%= @user.store.store_name %>
        </div>
      <% end %>
      <% unless current_user.email == 'guest@example.com' || current_user.id != @user.id %>
        <div class="item">
          <%= link_to "Edit profile", edit_public_user_path(@user), class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container 3">
    <div class="user-item">
      <div class="btn">
        <% if current_user.id == @user.id %>
          <div>Item</div>
            <%= link_to public_items_my_item_path, class: "btn btn-light" do %>
              <%= @user.items.count %>件
            <% end %>
        <% else %>
          <%= render 'public/relationships/btn', user: @user %>
        <% end %>
      </div>
      <div class="btn">
        <div>following</div><%= @user.followings.count %>
      </div>
      <div class="btn">
        <div>follower</div><%= @user.followers.count %>
      </div>
    </div>
  </div>
  <div class="container 4">
    <% unless @user.id == current_user.id %>
      <% if current_user.following?(@user) && @user.following?(current_user) %>
        <% if @is_room == true %>
          <%= link_to "#{@user.name}'room", public_room_path(@room_id), class: "btn btn-light" %>
        <% else %>
          <%= form_with model: @room, url: public_rooms_path, method: :post do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
          <%= f.submit "message" %>
          <% end %>
        <% end %>
      <% else %>
        Cannot Talk
        (相互followでtalkが可能になります)
      <% end %>
    <% else %>
      <% if current_user.rooms.present? %>
        <div class="talk">
          <%= link_to "Talk room", public_rooms_path, class: "btn btn-light"%>
      <% else %>
          Talk room is not
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
 </div>


<style>

 main{
  background-image: none;
  min-height: 1000px;
 }

  .container.1{
    display: flex;
    align-items: center;
 }

  h1.mypage-title{
  font-family: "Comic Sans MS";
  text-align: center;
  padding: 20px;
 }

 .profile-image{
    text-align: center;
    padding: 20px;
 }

 .container.2{
    display: flex;
 }

 .item{
    text-align: center;
    flex: 1;
    padding: 10px 10px;
    font-weight: 700;
 }

 .btn-outline-secondary{
   width: 50%;
   border:  4px solid;
 }

.container.3{
  display: flex;
}

.user-item{
  text-align: center;
  background-color: #EEEEEE;
  border:  3px solid;
  border-color: #999966;
}

.container.4{
  display: flex;
}

</style>

