<h1>マイページ</h1>

<% if @user.is_user == true %>

<p><%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle" %></p>

<p><%= @user.name %></p>

<p><%= @user.name_kana %></p>

<p><%= @user.nick_name %></p>



<% elsif @user.is_user == false %>

<p><%= @user.name %></p>

<p><%= @user.name_kana %></p>

<p><%= @user.email %></p>

<p><%= @user.brand.brand_name %></p>

<p><%= @user.store.store_name %></p>

<% end %>

<% unless current_user.id == @user.id %>
 <%= render 'public/relationships/btn', user: @user %>
<% else %>
 <%= link_to "編集", edit_public_user_path(@user) %>
<% end %>


<!--フォロー同士で表示に変更-->
<% if current_user.id != @user.id %>
  <%= link_to "#{@user.name}さんとチャットする", public_chat_path(@user.id) %>
<% end %>


