<h1>マイページ</h1>

<% if @user.is_user == true %>

<p><%= @user.name %></p>

<p><%= @user.name_kana %></p>

<p><%= @user.nick_name %></p>


<% elsif @user.is_user == false %>

<p><%= @user.name %></p>

<p><%= @user.name_kana %></p>

<p><%= @user.email %></p>

<p><%= @user.brand.brand_name %></p>

<p><%= @user.store.store_name %></p>



<% end %>


