<h1>投稿編集</h1>

<%= form_with model: @item, url: public_item_path(@item), method: :patch do |f| %>

  <div class="images">
   <%= f.label :投稿画像 %>
   <%= f.file_field :item_image, placeholder: "画像", accept: 'image/*' %>
  </div>

  <div class="field">
   <%= f.label :説明文 %>
   <%= f.text_field :text %>
  </div>

  <div class="select">
   <%= f.label :ブランド %>
   <%= f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :brand_name) %>
  </div>

  <div class="select">
   <%= f.label :ステータス %>
   <%= f.select :status, Item.statuses.keys.map { |k| [t("enums.item.status.#{k}"), k] } %>
  </div>

<%= f.submit "変更する" %>

<% end %>