<h1>投稿一覧</h1>
<!--後ほど画像のみ-->

<%= link_to "新規投稿", new_public_item_path %>

<% @items.each do |item| %>

  <%= item.user.nick_name %>

  <%= item.text %>

  <%= item.brand.brand_name %>

  <%= render "public/favorites/btn", item: item %>

  <% if item.user == current_user %>
     <%= button_to "削除", public_item_path(item), method: :delete %>
     <%= link_to "詳細", public_item_path(item) %>
  <% else %>
  <% end %>
<% end %>






<% if user_signed_in? %>
 <%= link_to "非公開一覧", public_items_privacy_path %>
<% else %>
<% end %>

<% if current_user || @user == false %>
 <%= link_to "店舗スタッフ公開一覧", public_items_clerk_path %>
<% else %>
<% end %>





