<%= render 'public/items/sidebar' %>
<div class="container">
  <% if @my_items.present? %>
    <div class="row item-cards">
      <% @my_items.each do |item| %>
        <div class="item-card">
          <div class="image-wrap">
              <%= link_to public_item_path(item) do %>
                <%= image_tag item.get_item_image(400, 400) %>
              <% end %>
          </div>
          <div class="card-create">
              投稿作成日：<%= item.created_at.strftime("%Y-%m-%d") %>
          </div>
          <div class="card-brand">
              ブランド：<%= item.brand.brand_name %>
          </div>
          <div class="btn_mark">
              <%= link_to public_item_path(item), method: :delete, data: {confirm: "削除しますか？"}, class: "card-delete-btn" do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class ="d-flex justify-content-center p-5">投稿が存在しません</p>
  <% end %>

  <div class="row p-3 d-flex justify-content-center">
  <%= paginate @my_items %>
  </div>
</div>

<style>
main{
  min-height: 1500px;
}
 .pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #CC99CC;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}
.page-item.active .page-link {
    background-color: #CC99CC;
    border-color: #CC99CC;
}

.img{
  position: relative;
}

.btn_mark {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

</style>