<div class="container">
  <div class="d-flex justify-content-center">
   <div class="row">
    <%= form_with model: @item, url: public_items_path, method: :post do |f| %>
     <table>
      <tbody>
         <div class="col-12">
            <tr>
               <div class="images">
                  <th><%= f.label :投稿画像 %></th>
                  <td><%= f.file_field :item_image, placeholder: "画像", accept: 'image/*' %></td>
               </div>
            </tr>
         </div>
         <div class="col-12">
            <tr>
               <div class="field">
                  <th><%= f.label :説明 %></th>
                  <td><%= f.text_area :text, placeholder: "説明をここに" %></td>
               </div>
            </tr>
         </div>
         <div class="col-12">
            <tr>
               <div class="select">
                  <th><%= f.label :ブランド %></th>
                  <td><%= f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :brand_name), { prompt: '選択してください' } %></td>
               </div>
            </tr>
         </div>
         <div class="col-12">
            <tr>
               <div class="select">
                  <th></th>
                  <td><%= f.select :status, Item.statuses.keys.map { |k| [t("enums.item.status.#{k}"), k] },{prompt: '選択してください'} %></td>
               </div>
            </tr>
         </div>
      </tbody>
     </table>
   <div class="row">
     <%= f.submit "投稿" %>
     <% end %>
   </div>
  </div>
 </div>
</div>
