<div class="container">
    <div class="item-show row d-flex justify-content-center pt-3">
      <div class="item-image col-12 d-flex justify-content-center pt-3">
        <%= image_tag @item.get_item_image(500, 500) %>
      </div>
        <div class="profile-image col-12">
          <div id="image">
            <%= image_tag @item.user.get_profile_image(80, 80), class: "rounded-circle" %>
          </div>
          <div id="name">
            <% if @item.user.is_user == true %>
              <p><%= link_to @item.user.nick_name, public_user_path(@item.user.id) %></p>
            <% else %>
              <p><%= link_to @item.user.name, public_user_path(@item.user.id) %></p>
            <% end %>
          </div>
        </div>
        <div class="item-text col-12 d-flex justify-content-center">
          <%= @item.text %>
        </div>
        <div class="brand p-3">
          ブランド：<%= @item.brand.brand_name %>
        </div>
        <div class="tag p-3">
          <% @item.item_tags.each do |tag| %>
            <div>#<%= tag.tag_name %></div>
          <% end %>
        </div>
        <% if @item.user_id == current_user.id %>
          <div class="status p-3">
            <div>ステータス：<%= @item.status_i18n %></div>
          </div>
          <div class="favorite p-3">
            <div>いいね<%= @item.favorites.count %>件</div>
          </div>
          <div class="edit-btn text-right p-3">
            <%= link_to "編集", edit_public_item_path(@item), class: "btn btn-outline-secondary center-block" %>
          </div>
        <% end  %>
    </div>
    <% if current_user.is_user == false %>
        <div id="comments_form">
            <%= render partial: "public/comments/form", locals: {comment: @comment, item: @item} %>
        </div>
        <div class="container">
            <div id="comments_area">
             <%= render partial: "public/comments/index", locals: {comments: @comments, item: @item} %>
            </div>
        </div>
    <% else current_user.is_user == true %>
      <% if @item.user_id == current_user.id %>
        <div class="container">
          <h5 class="text p-3">コメント投稿は店舗スタッフのみ可能です</h5>
            <div id="comments_area">
             <%= render partial: "public/comments/index", locals: {comments: @comments, item: @item} %>
            </div>
        </div>
      <% else %>
        <div class="user_comment_return">
           <div class="row d-flex justify-content-center">
               <div class="col-12 d-flex justify-content-center p-5">
                   コメント機能は店舗ユーザーのみ可能です
               </div>
           </div>
        </div>
      <% end %>
    <% end %>
</div>

 <style>
     .item-show{
     background-color: #EEEEEE;
     padding: 30px;
     border:  3px solid;
     border-radius: 8px;
     border-color: #999966;
     box-shadow    : 16px 16px 42px #666666;
     }

    .item-text{
    background: none;
	  border: 3px solid #736d71;
	  margin: 10px;
	  padding: 20px;
	  position: relative;
    }

    .profile-image{
    position: relative;
    left: 150px;
    }

 </style>