<div class="item show">
   <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row p-5 mx-auto">
          <h1>投稿詳細</h1>
        </div>
      </div>





<%= image_tag @item.get_item_image(100, 100) %>


<p>説明文</p>

<%= @item.text %><br>

<p>ブランド</p>

<%= @item.brand.brand_name %><br>

<p>ステータス</p>

<%= @item.status_i18n %><br>


<%= link_to "編集", edit_public_item_path(@item) %>


<div id="comments_area">
   <%= render partial: "public/comments/index", locals: {comments: @comments, item: @item} %>
</div>

<div id="comments_form">
   <%= render partial: "public/comments/form", locals: {comment: @comment, item: @item} %>
</div>







 </div>
</div>
