<h1>投稿詳細</h1>
<%= link_to "編集", edit_public_item_path(@item) %>

<%= link_to "投稿一覧", public_items_path %>


<p>説明文</p>

<%= @item.text %><br>

<p>ブランド</p>

<%= @item.brand.brand_name %><br>

<p>ステータス</p>

<%= @item.status_i18n %><br>


<p><%= render partial: "public/comments/form", locals: {comment: @comment, item: @item} %></p>

<p><%= render partial: "public/comments/index", locals: {comments: @comments} %></p>



