<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to public_items_path, class: "navbar-brand fa-2x" do %>
      style
    <% end %>
    <ul>
      <li><%= render 'public/items/sidebar' %></li>
      <li>
        <%= link_to new_public_item_path, class: "nav-item nav-link" do %>
          <div class="new-item-box">
            <button type="button" class="btn btn-secondary">new</button>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to public_notifications_path, class: "nav-item nav-link" do %>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-bell true"></i>
          <% else %>
            <i class="fas fa-bell"></i>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to public_user_path(current_user), class: "nav-item nav-link" do %>
          <div class="mypage-box">
            <i class="fas fa-user"></i>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-item nav-link" do %>
          <div class="signout-box">
            <i class="fas fa-sign-out-alt"></i>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<style>

.nav-item {
  margin: 5px;
}

.true {
  color: #efa04c;
}

</style>