<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to public_items_path, class: "navbar-brand fa-2x" do %>
      style
    <% end %>
    <ul>
      <li>
        <div class="menu">
          <%= render 'public/items/menu' %>
        </div>
      </li>
      <li>
        <%= link_to search_public_items_path, class: "nav-item nav-link" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </li>
      <li>
        <%= link_to new_public_item_path, class: "nav-item nav-link" do %>
          <i class="far fa-plus-square"></i>
        <% end %>
      </li>
      <li>
        <%= link_to public_notifications_path, class: "nav-item nav-link" do %>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-bell true"></i>
          <% else %>
            <i class="fas fa-bell"></i>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to public_user_path(current_user), class: "nav-item nav-link" do %>
          <i class="fas fa-user"></i>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-item nav-link" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<style>

.nav-item {
  margin: 5px;
}

.true {
  color: #efa04c;
}

.btn-secondary.new{
  border: none;
  box-shadow: none;
}

.menu{
  padding: 0px 30px;
}
</style>