<!DOCTYPE html>
<html>
  <head>
    <title>Style</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5f2329857c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/user_header' %>
      <% else %>
        <%= render 'layouts/guest_header' %>
      <% end %>
    </header>
    <main>

       <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <footer class="fixed-bottom">
      <% if user_signed_in? %>
        <%= render 'layouts/user_footer' %>
      <% else %>
        <%= render 'layouts/footer' %>
      <% end %>
    </footer>
  </body>
</html>

<script>
  $(document).ready(function() {
  $(window).scroll(function() {
    if ($(this).scrollTop() > 0) {
      $('header').css('opacity', 0.8);
    } else {
      $('header').css('opacity', 1);
    }
  });
});
</script>
