<!DOCTYPE html>
<html>
  <head>
    <title>Style</title>
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
　　<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5f2329857c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/user_header' %>
      <% else %>
        <%= render 'layouts/guest_header' %>
      <% end %>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer class="fixed-bottom">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
